body {
    overflow-y: scroll;
}

#canvas {
    border: 1px solid black;
}

.short-text {
    width: 2em;
}

.longer-text {
    width: 4em;
}

#nu-slider {
    transform: translateY(+30%);
}

#primary-green {
    display: inline;
}

.toggled #primary-green {
    display: none;
}

#primary-red {
    display: none;
}

.toggled #primary-red {
    display: inline;
}
