h1 {
    text-align: center;
}

h1, h2, h3, p {
    font-family: sans-serif;
}

.project {
    padding: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
}

#content {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}
