#layers {
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 981px;
    height: 561px;
}

.layer {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
}

#canvas {
    border: 1px solid black;
}

.ui {
    width: 981px;
    margin-top: 1em;
    margin-left: auto;
    margin-right: auto;
    background-color: #cccccc;
    display: table;
    table-layout: fixed;
}

.ui-cell {
    display: table-cell;
    text-align: center;
    padding: 1em;
}

span {
    font-family: sans;
}

#nu-text {
    width: 2em;
}

#nu-slider {
    transform: translateY(+30%);
}
