#spinner_layer {
    background-color: black;
    opacity: 0.7;
}

#spinner {
    position: relative;
    display: block;
    margin: auto;
    top: 50%;
    transform: translateY(-50%);
}

#selection {
    opacity: 0.5;
}
